[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
websocket-client = "*"
beautifulsoup4 = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3"
